body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 16, 52);
}

.container{
    border-radius: 10px;
    box-shadow: 5px 5px 15px wheat;
    width: 400px;
    height: fit-content;
    background-color: rgb(223, 221, 221);
    padding:30px;
     border: 1px solid black;

     header{
        border-radius: 30px;
       background-color: rgb(194, 72, 11);
       text-align: center;
       padding: 2px;
     }
     
     #sign{
        margin-left: 5px;
     }
     input{
        padding:2px;
        border: none;
        border-bottom: 1px solid black;
        width: 90%;
        height: 18px;
       
        background: transparent;
     }

     input:focus::placeholder{
        color: transparent;
     }

     select{
        width: 90% !important;
        height: 25px;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
     }

     button{
        border: none;
         outline: none;
        cursor: pointer;
        border-radius: 5px;
        width: 30%;
        font-size: 20px;
        background-color: rgb(3, 163, 126);
        text-align: center;
        margin-top: 10px;
        padding: 5px;
     }

     .showtip{
        display: none;
        text-align: center;
      
        
     }
}
